tr{
	background-color:#fff;
}
.alt{
	background-color:#ccc;
}
.hover{
	cursor:pointer;
	background-color:#afa;
}

.zyAccordion-heading{
    border-bottom: 0;
}
.zyAccordion-heading.zyAccordion-toggle{
    height:100%;
    width:auto;
    display: block;
    padding: 8px 15px;
}

.zyPopping {
    position: relative;
    width: 0;
    overflow: hidden;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

.zyPopping.in {
    width: auto;
}